

.navbar-2 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 80px;
    border-bottom: 1px solid #ccc;
  }
  .navbar-2 .navbar .logo {
    display: flex;
    align-items: center;
    padding-left: 48px;
  }
  .navbar-2 .navbar .logo i{
    margin-right: 8px;
    font-size: 32px;
    color: #E69D00;
  }
  .navbar-2 .navbar .logo img {
    margin-right: 10px;
  }
  .navbar-2 .navbar .logo h1 {
    font-size: 24px;
    color: #052146;
    margin: 0;
  }
  .navbar-2 .navbar .menu {
    display: flex;
    align-items: center;
    margin-left: 413px;
  }
  .navbar-2 .navbar .menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #052146;
    font-weight: bold;
    
  }
  .navbar-2 .navbar .menu a:hover {
    color: #F7B733;
  }
  .navbar-2 .navbar .get-started {
    background-color: #F7B733;
    color: #052146;
    padding: 10px 20px;
    text-decoration: none;
   
    font-weight: bold;
    height: 80px;
    padding: 30px;
  }
.navbar-2 .navbar .get-started:hover {
    background-color: #E69D00;
}


.navbar-2 .navbar .menu .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .navbar-2 .navbar .menu .dropbtn {
    cursor: pointer;
  }
  
  .navbar-2 .navbar .menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .navbar-2 .navbar .menu .dropdown-content a {
    color: #052146;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .navbar-2 .navbar .menu .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .navbar-2 .navbar .menu .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .navbar-2 .navbar .menu .dropdown:hover .dropbtn {
    color: #F7B733;
  }
  